<header>
  {{#if authUser}}
    <h3>{{authUser}}</h3>
    <form  method="post" action="sessions?_method=DELETE">
      <input type="submit" value="log out"/>
    </form>
  {{else}}
   <a href="/sessions/new">log in</a>
  {{/if}}
  <h1>{{main_title}}</h1>
  <nav>
    <uL>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/comments">Comments</a></li>
    </uL>
  </nav>
</header>