<header>
  <h1>{{main_title}}</h1>
  <nav>
    <uL>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/comments">Comments</a></li>
    </uL>
  </nav>
</header>